<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>

.image_back {
    background-image: url("https://wallpaperaccess.com/full/30004.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;  /* responsive height */
}
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body class="image_back">
    <div class="container ">
      <div class="page-header text-center">
        <h1><span class="fa"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
      </div>


  
      <div class="row">
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6 ">
          <div class="well text-center">
            <h3 class="text-danger">
              <span class="fa fa-google-plus"></span> Google
            </h3>

            <p>
              
              
           
              <img src="<%=pic%>" style="border-radius: 50%;" width="200" height="200" alt="" />
            
              <p style="font-family: 'poppins';font-size: 28px;">
             <%= name %>
            </p>
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger">
              <span class="fa fa-google-plus"></span> Upload File to Google
              Drive
            </h3>

            <% if (success) { %>
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                >×</a
              >
              <strong>Success!</strong> Your Image File is Uploaded.
            </div>
            <%}%>
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input
                  type="file"
                  class="form-control"
                  name="file"
                  required
                  id=""
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-danger">
                  Upload File
                </button>
                <button type="button" onclick="gotFileList()" class="btn btn-block btn-success">
                  Show File List
                </button>
              
              </div>
              <script>
                function gotFileList(){
      
                  console.log("******************************************");
                  window.location.href='/all';
                }
              </script>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>



